style.css. /* Стили для списка и кнопок */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 20px; /* Отступ между элементами списка */
}

button {
    background-color: #4CAF50; /* Задайте желаемый цвет фона для кнопок */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Расположение кнопок в одну строку */
.button-container {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
    margin-bottom: 20px; /* Отступ снизу, чтобы создать пространство между кнопками и картой */
}

/* Стили для контейнера карты */
.map-container {
    position: relative;
    height: 400px; /* Установите желаемую высоту карты */
}

/* Стили для карты */
#map {
    width: 100%;
    height: 500px; /* Установите желаемую высоту карты */
}