/* Стили для списка */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

/* Стили для кнопок */
.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для контейнера карты */
.map-container {
    position: relative;
    height: 400px;
}

/* Стили для карты */
#map {
    width: 100%;
    height: 500px;
}
